h3{
    font-size: 25px !important;
}

.btn-primary :hover
{
background-color: plum;
}

canvas
{
    border-radius: 12px;
    border-width: 5px;
    border-style:solid;
    border-color: black;

}